In [1]:
from pyspark import SparkContext

sc = SparkContext()

In [2]:
from pyspark.sql import SQLContext
import pandas as pd

In [3]:
sqlContext = SQLContext(sc)

In [4]:
ny_df = sqlContext.read.parquet("../Data/NY.parquet")
print("Total data : ", ny_df.count())
ny_df.show(5)

Total data :  168398
+-----------+-----------+----+--------------------+-----------------+--------------+------------------+-----------------+-----+-----------------+
|    Station|Measurement|Year|              Values|       dist_coast|      latitude|         longitude|        elevation|state|             name|
+-----------+-----------+----+--------------------+-----------------+--------------+------------------+-----------------+-----+-----------------+
|USW00094704|   PRCP_s20|1945|[00 00 00 00 00 0...|361.8320007324219|42.57080078125|-77.71330261230469|208.8000030517578|   NY|DANSVILLE MUNI AP|
|USW00094704|   PRCP_s20|1946|[99 46 52 46 0B 4...|361.8320007324219|42.57080078125|-77.71330261230469|208.8000030517578|   NY|DANSVILLE MUNI AP|
|USW00094704|   PRCP_s20|1947|[79 4C 75 4C 8F 4...|361.8320007324219|42.57080078125|-77.71330261230469|208.8000030517578|   NY|DANSVILLE MUNI AP|
|USW00094704|   PRCP_s20|1948|[72 48 7A 48 85 4...|361.8320007324219|42.57080078125|-77.71330261230469|208.8000030517578|   NY|DANSVILLE MUNI AP|
|USW00094704|   PRCP_s20|1949|[BB 49 BC 49 BD 4...|361.8320007324219|42.57080078125|-77.71330261230469|208.8000030517578|   NY|DANSVILLE MUNI AP|
+-----------+-----------+----+--------------------+-----------------+--------------+------------------+-----------------+-----+-----------------+
only showing top 5 rows

In [5]:
stations_df = sqlContext.read.parquet("../Data/stations.parquet")
print("Total data : ", stations_df.count())
stations_df.show(5)

Total data :  12140
+-----------+----------+--------+---------+---------+-----+----------------+
|    Station|Dist_coast|Latitude|Longitude|Elevation|State|            Name|
+-----------+----------+--------+---------+---------+-----+----------------+
|USC00341900|   739.956|    36.3| -96.4667|    242.3|   OK|       CLEVELAND|
|USC00428114|    908.22|    40.1|-111.6667|   1409.1|   UT|SPANISH FORK 1 S|
|USC00165926|   23.8801| 29.7853| -90.1158|      0.9|   LA|   MARRERO 9 SSW|
|USC00411974|   541.905| 31.5333|-101.2842|    755.9|   TX|        COPE RCH|
|USC00318906|   310.311| 35.5231| -81.4439|    274.3|   NC|    VALE AG 2 SW|
+-----------+----------+--------+---------+---------+-----+----------------+
only showing top 5 rows

In [6]:
stats_content = pd.read_pickle("../Data/STAT_NY.pickle")

In [7]:
stats_descr = pd.DataFrame(stats_content[0])
stats_descr.head()

,SNOW_s20,TMIN_s20,TOBS,SNWD_s20,PRCP_s20,TOBS_s20,PRCP,TMAX,TMAX_s20,TMIN,SNOW,SNWD
NE,"[12038.0, 12039.0, 12039.0, 12039.0, 12039.0, ...","[12615.0, 12615.0, 12615.0, 12615.0, 12615.0, ...","[9036.0, 9113.0, 9164.0, 9166.0, 9157.0, 9167....","[10777.0, 10775.0, 10775.0, 10774.0, 10773.0, ...","[15236.0, 15235.0, 15236.0, 15236.0, 15235.0, ...","[10090.0, 10090.0, 10090.0, 10090.0, 10090.0, ...","[13606.0, 13634.0, 13656.0, 13698.0, 13699.0, ...","[11568.0, 11628.0, 11652.0, 11660.0, 11658.0, ...","[12607.0, 12607.0, 12607.0, 12607.0, 12607.0, ...","[11568.0, 11629.0, 11652.0, 11663.0, 11658.0, ...","[9436.0, 9469.0, 9470.0, 9506.0, 9527.0, 9528....","[8126.0, 8167.0, 8198.0, 8192.0, 8197.0, 8218...."
NO,"[[12038.0, 12038.0, 12038.0, 12038.0, 12038.0,...","[[12615.0, 12615.0, 12615.0, 12615.0, 12615.0,...","[[9036.0, 8985.0, 9005.0, 8993.0, 8985.0, 8995...","[[10777.0, 10775.0, 10775.0, 10774.0, 10773.0,...","[[15236.0, 15235.0, 15235.0, 15235.0, 15234.0,...","[[10090.0, 10090.0, 10090.0, 10090.0, 10090.0,...","[[13606.0, 13532.0, 13494.0, 13507.0, 13501.0,...","[[11568.0, 11537.0, 11537.0, 11531.0, 11527.0,...","[[12607.0, 12607.0, 12607.0, 12607.0, 12607.0,...","[[11568.0, 11532.0, 11532.0, 11526.0, 11517.0,...","[[9436.0, 9365.0, 9339.0, 9349.0, 9363.0, 9355...","[[8126.0, 8037.0, 8013.0, 7992.0, 7982.0, 7987..."
eigval,"[8324.794377056878, 1985.717379339039, 1459.39...","[218872.57345183493, 25994.720253136347, 18038...","[307132.9834366321, 51540.96903205656, 30953.8...","[2227058.8157613804, 197787.2011074706, 161022...","[25810.2333755658, 10741.654107663826, 9042.33...","[300587.0543253952, 42170.567245838254, 19641....","[44219.41624029552, 34684.20032388285, 33691.0...","[116933.37990898985, 31316.00302881224, 30203....","[114205.3536421519, 20020.029102201242, 19461....","[221211.00190627636, 37011.859481314255, 33690...","[11152.335082092897, 9326.174911103268, 6642.1...","[2583681.0990271224, 433374.30801668705, 23011..."
Mean,"[14.053578153205564, 14.127857955728558, 14.19...","[-82.40050022036039, -83.41065333090837, -84.3...","[-39.921757414785304, -40.79787117304949, -36....","[106.25125718149944, 108.38554202334234, 110.4...","[25.07096863193567, 24.986228377489642, 24.904...","[-39.049407880346415, -39.868047549585164, -40...","[26.772159341467, 25.372817955112218, 28.41520...","[9.642548409405256, 6.937134502923977, 5.73532...","[9.304295384478227, 8.568664227165899, 7.87724...","[-85.9311030428769, -86.90910654398486, -79.46...","[16.667867740568038, 15.617171823846235, 17.13...","[113.66810238739848, 117.88918819640014, 122.1..."
mean,5.11045,28.3952,81.637,41.3979,28.7814,81.5189,28.297,139.453,139.604,28.4151,5.09835,43.5168

In [8]:
stats_details = pd.DataFrame(stats_content[1])
stats_details.head()

,0,1,2
0,SortedVals,Sample of values,vector whose length varies between measurements
1,UnDef,sample of number of undefs per row,vector whose length varies between measurements
2,mean,mean value,()
3,std,std,()
4,low100,bottom 1%,()